@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&family=Prompt:wght@300;400;700&display=swap');
/* Univesal */

body{
    background-image: linear-gradient(#0d1117, #161b22, #0d1117);
    color: #FFAC5E;
    font-family: "Exo 2", sans-serif;
}

h1{
    font-family: "Prompt", sans-serif;
}

.flash{
    background-color: aqua;
}

/* Univesal */

/* Nav-bar */

.nav-bar{
    background-color: #161b22;
    height: 125px;
    align-items: center;
}

.logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.nav-title{
    text-align: center;
    color: #FFAC5E;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 2em;
}

.nav-title:hover{
    color: white;
}

.nav-item{
    font-size: 1.5em;
}

.nav-link{
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    color: #FFAC5E;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #FFAC5E;
    color: black;
}

.logo-tablet{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.nav-icon{
    font-size: 1em;
    color: #FFAC5E;
    margin: 5px;
}

.nav-icon:hover{
    color: #0d1117;
}

/* Nav-bar */

/* Nav-bar mobile */

#card-border{
    border: 0px;
}

#bar-button{
    background-color: #161b22;
}

.card-mobile{
    background-color: #161b22;
    padding: 0px;
    margin: 0px;
}

.title-mobile{
    font-size: 2em;
    padding: 5px;
}

.nav-item-mobile{
    font-size: 1em;
    padding: 1px;
}

.nav-menu{
    background-color: #161b22;
    border: none;
}

.nav-menu-mobile{
    width: 300px;
    justify-content: center;
    height: 60px;
}

.nav-icon-mobile{
    font-size: 0.75em;
    color: #FFAC5E;
}

.nav-icon-mobile:hover{
    color: #0d1117;
}

.tablet-text{
    font-size: 0.9em;
}

/* Nav-bar mobile */

/* Home page */

.crypto-table{
    color: #FFAC5E;
}

.crypto-name{
    color: white;
}

.crypto-mobile{
    overflow-x: scroll;
}

/* Home page */

/* Log in and Sign up page */

.user-box{
    border: solid black 1px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.user{
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    margin: 5px;
    border-radius: 7px;
    color: white;
}

.profile{
    border: black 3px solid;
    background-color: black;
    margin: 50px;
    padding: 50px;
    text-align: center;
}

.user-button{
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    color: #FFAC5E;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

/* Log in, Sign up and Profile page */

/* My Portfolio */

.record{
    width: 140px;
    border: solid 1px black;
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    margin: 3px;
    border-radius: 10px;
    color: white;
}

.portfolio-card{
    background-color: #070a0f;
    border: black solid 1px;
    margin: 10px;
}

.portfolio-title{
    color: #FFAC5E;
}

.portoflio-body{
    background-color: #161b22;
    margin: 10px;
    border: black solid 1px;
    padding: 5px;
}

.portfolio-table{
    color: #FFAC5E;
}

.modal-content{
    
}

.modal-header{
    background-color: #0d1117;
}

.modal-body{
    background-color: #161b22;
    justify-content: center;
    padding: 0px;
}

.modal-footer{
    background-color: #0d1117;
}

.holdings-mobile{
    overflow-x: scroll;
}

.profit-mobile{
    padding: 0px;
}

.portfolio-button{
    background-color: #0d1117;
    box-shadow: 1px 1px 1px black;
    color: #FFAC5E;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
}

.action-button{
    border: none;
    color: #FFAC5E;
    padding: 5px;
    margin: 1px;
    background-color: #161b22;
}

.record-tab{
    padding: 10px;
    margin: 0px;
    border-radius: 0px;

}

/* My Portfolio */

/* Footer Desktop */

.footer{
    background-color: #161b22;
    height: 200px;
    padding-top: 25px;
}

.footer-title{
    font-size: 2.3em;
    color: #FFAC5E;
}

.footer-icon{
    font-size: 2.7em;
    color: #FFAC5E;
    margin: 5px;
}


/* Footer Desktop */

/* Footer Mobile */

.footer-icon-mobile{
    font-size: 2em;
    color: #FFAC5E;
    margin: 5px;
}

.footer-title-mobile{
    font-size: 1.4em;
    color: #FFAC5E;
}

/* Footer Mobile */

/* Breakpoints */

@media screen and (max-width: 424px){

}

@media screen and (min-width: 424px){

}

@media screen and (max-width: 767px){
    .footer-desktop{
        display: none;
    }
    .log-in-desktop{
        display: none;
    }
    .sign-up-desktop{
        display: none;
    } 
    .portfolio-desktop{
        display: none;
    }
    .nav-tablet{
        display: none;
    }
    .holdings-desktop{
        display: none;
    }

}

@media screen and (min-width: 767px){
    .footer-mobile{
        display: none;
    }
    .log-in-mobile{
        display: none;
    }
    .sign-up-mobile{
        display: none;
    }
    .portfolio-mobile{
        display: none;
    }
    .nav-mobile{
        display: none;
    }
    .holdings-mobile{
        display: none;
    }

}

@media screen and (max-width: 1023px){
    .crypto-desktop{
        display: none;
    }
    .nav-desktop{
        display: none;
    }
}

@media screen and (min-width: 1023px){
    .crypto-mobile{
        display: none;
    }
    .nav-tablet{
        display: none;
    }
}

@media screen and (max-width: 1439px){

}

@media screen and (min-width: 1439px){

}


/* Breakpoints */