{% extends "base.html" %}
{% block content %}
<!-- (https://blog.tati.digital/2020/11/30/python-flask-web-application-tutorial-2020-display-coinmarketcap-api-data/) -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1>CoinVue</h1>
                <h3>Displaying the latest Crypto prices</h3>

                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col"><strong>Cryto Name</strong></th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Price Change % (24h)</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">Volume (24h)</th>
                        </tr>
                    </thead>


                    <tbody class="crypto-table">
                        {% for obj in results %}
                            <tr>
                            <td><strong class="crypto-name">{{ obj.name }}</strong></td>
                            <td>{{ obj.symbol }}</td>
                            <td>{{ obj.quote.USD.price }}</td>
                            <td>{{ obj.quote.USD.percent_change_24h }}</td>
                            <td>{{ obj.quote.USD.market_cap }}</td>
                            <td>{{ obj.quote.USD.volume_24h }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
    
<!-- Example from mini project -->
{% endblock %}